services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Workers (Consumers)
  mom-worker-1:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: mom-worker
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
    volumes:
      - ./database.db:/root/database.db
    depends_on:
      rabbitmq:
        condition: service_healthy

#  mom-worker-2:
#    build:
#      context: .
#      dockerfile: Dockerfile
#      args:
#        APP_NAME: mom-worker
#    environment:
#      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
#    volumes:
#      - ./database.db:/root/database.db
#    depends_on:
#      rabbitmq:
#        condition: service_healthy
#
#  mom-worker-3:
#    build:
#      context: .
#      dockerfile: Dockerfile
#      args:
#        APP_NAME: mom-worker
#    environment:
#      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
#    volumes:
#      - ./database.db:/root/database.db
#    depends_on:
#      rabbitmq:
#        condition: service_healthy
#
#  mom-worker-4:
#    build:
#      context: .
#      dockerfile: Dockerfile
#      args:
#        APP_NAME: mom-worker
#    environment:
#      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
#    volumes:
#      - ./database.db:/root/database.db
#    depends_on:
#      rabbitmq:
#        condition: service_healthy
#
#  mom-worker-5:
#    build:
#      context: .
#      dockerfile: Dockerfile
#      args:
#        APP_NAME: mom-worker
#    environment:
#      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
#    volumes:
#      - ./database.db:/root/database.db
#    depends_on:
#      rabbitmq:
#        condition: service_healthy

  # Load Balancer
  # mom-lb:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #     args:
  #       APP_NAME: mom-lb
  #   ports:
  #     - "50051:50051" # Same port as RPC LB so Client doesn't need changes
  #   environment:
  #     - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
  #   depends_on:
  #     rabbitmq:
  #       condition: service_healthy
